.page404-template {
	text-align: center;
	height: 500px;
}
.number404 {
	color: #363636;
	font-family: Montserrat;
	font-size: 300px;
	font-weight: 700;
	letter-spacing: 4.16px;
}
.warning404 {
	position: relative;
	width: 616px;
	background-color: white;
	color: #212121;
	font-family: Hind;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 14.24px;
	margin: 0 auto;
	top: -117px;
}
.appologize {
	font-family: Montserrat;
	color: #363636;
	font-size: 30px;
	letter-spacing: 0.36px;
	font-weight: 700;
	line-height: 24px;
}
.solution {
	color: #999999;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 5px;
}
.back-home {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.17px;
	margin-top: 10px;
	background: url(home.png) no-repeat;
	background-position: 45% 50%;
	padding-left: 15px;
}
.back-home a {
    text-decoration: none;
    color: #363636;
}