p {
    margin-bottom: 40px;
    color: #464646;
	font-family: Hind;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
    letter-spacing: 1.6px;
    text-align: center;
}
.map {
    margin-bottom: 100px;
}